* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #EEEEEE;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}
figure {
    margin: auto;
    width: 600px;
    height: 400px;
}

img {
    margin: auto;
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20%;
    border: 5px solid #444444;
}

.arrow {
    position: absolute;
    top: 200px;
    cursor: pointer;
    color: black;
    font-size: 300%;
}

#previous {
    left: -45px;
}

#next {
    left: 605px;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4d81c6
}

.flexNav {
    display: flex;
}

.flexNav > button {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

section {
    background-color: #EEEEEE;
}




