* {
    margin: 0;
    padding: 0;
}

.slideshow-wrapper {
    margin: auto;
    width: 50%;
    margin-top: 25px;
    position: relative;
}

img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20%;
}

.arrow {
    position: absolute;
    top: 170px;
    cursor: pointer;
    color: black;
    font-size: 300%;
}

#previous {
    left: -45px;
}

#next {
    left: 605px;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4d81c6
}

section {
    background-color: #EEEEEE;
}




